<ion-navbar *navbar>
  <ion-title>{{_blockLabel | uppercase}}</ion-title>
</ion-navbar>
<ion-content padding class="model-detail-param">
  <ion-card>
    <ion-card-header>PARAMETERS</ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="_blockLocalCopy">
        <ion-item *ngFor="let param of _blockLocalCopy.params">
          <ion-label fixed>{{param.name | uppercase}}</ion-label>
          <ion-input type="text" [(ngModel)]="param.value"></ion-input>
          <button round  item-right (click)="showPhoneInputs(param)"><ion-icon name="phone-portrait"></ion-icon></button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <button block *ngIf="(_simulationService.selectedSimu$ | async)?.info.status === 'NOT_STARTED'" (click)="saveParam()">SAVE</button>
  <button block *ngIf="(_simulationService.selectedSimu$ | async)?.info.status === 'PAUSED'" (click)="modifyParam()">MODIFY</button>

</ion-content>
